@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 500;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 3rem 1rem 3rem 1rem;
	background-color: hsl(210, 46%, 95%);
}

.main-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 100%;
}

[class*="card"] {
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
	"pic info"
	"par par"
	"par2 par2";
	align-items: center;
	border-radius: .5rem;
	padding: 2rem;
	gap: 1rem;
}

[class*="card"] img {
	grid-area: pic;
	width: 2.2rem;
	border-radius: 50%;
}

[class*="card"] .info {
	grid-area: info;
	font-size: .8rem;
}

[class*="card"] .par {
	grid-area: par;
	font-size: 1.2rem;
}

[class*="card"] .par2 {
	grid-area: par2;
}

.card1 {
	background-color: hsl(263, 55%, 52%);
	color: white;
}

.card2 {
	background-color: hsl(217, 19%, 35%);
	color: white;
}

.card3,
.card5 {
	background-color: white;
	color: black;
}

.card4 {
	background-color: hsl(219, 29%, 14%);
	color: white;
}

.card1 .par2,
.card2 .par2,
.card4 .par2 {
	color: hsl(0, 0%, 81%);
}

.card3 .par2,
.card5 .par2 {
	color: hsla(0, 0%, 0%, 60%);
}

.card1 .info,
.card2 .info,
.card4 .info {
	color: hsl(210, 46%, 95%);
}

.vergrad {
	opacity: .6;
}

.card1 img,
.card4 img {
	border: 2px solid hsla(0, 0%, 81%, .4);
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 1rem;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}